<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Classes</title>
</head>
<body>
    <div class="text-center">
        <p>Available agent classes</p>
        <div class="agents">
            <select name="agentClasses" id="agentClasses" class="form-control" [(ngModel)]="chosenAgentType.name"> 
                <option *ngFor = "let agent of agents" [value]="agent.name">{{agent.name}}</option>
            </select>
            <input type="text" id="agentName" placeholder="Agent name" class="form-control" [(ngModel)] = "name">
            <button id="startAgent" class="btn btn-primary" (click) = "onSubmitNewAgent()"> Start a new agent</button>
        </div>
    </div>
    

</body>
</html>