<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Classes</title>
</head>
<body>
        <h3>Running agents</h3>
        <select name="running" id="runningAgents" class="form-control"> 
            <option value="agent 1">Agent 1</option>
            <option value="agent 1">Agent 1</option>
            <option value="agent 1">Agent 1</option>
        </select>
    
        <button class="btn btn-danger" id="stopAgent"> Stop agent</button>
</body>
</html>