<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent component</title>
</head>
<body>
    <div class="text-center">
        <div class="performative-div">
            <p>Performative: </p>
            <select name="performative" id="performative" class="form-control" [(ngModel)]="chosenPerformative.performative">
                <option *ngFor="let performative of performatives" value="{{performative}}">{{performative}}</option>
            </select>
        </div>
        <div class="receiver-div">
            <p>Receiver: </p>
            <select name="agentClasses" id="agentClasses" class="form-control" [(ngModel)]="chosenReceiver.name"> 
                <option *ngFor = "let agent of agents" [value]="agent.name">{{agent.name}}</option>
            </select>
        </div>
        <div class="content-div">
            <p>Content: </p>
            <input type="text" id="content" class="form-control" placeholder="Message content..." [(ngModel)] ="content">
        </div>
        <div class="sender-div">
            <p>Sender: </p>
            <select name="agentClasses" id="sender" class="form-control" [(ngModel)]="chosenSender.name"> 
                <option *ngFor = "let agent of agents" [value]="agent.name">{{agent.name}}</option>
            </select>
        </div>
        <button id="sendMessage" class="btn btn-primary" (click)="sendMessage()">Send ACL Message</button>

        <textarea name="details" id="details" cols="30" rows="10" class="form-control" [ngModel]="messages" readonly></textarea>
        
        <app-running-agents id="app-running-agents"></app-running-agents>

    </div>
</body>
</html>