.text-center {
    position: relative;
}

.performative-div p {
    position: absolute;
    top: 20px;
    left: 10%;
}

#performative {
    position: absolute;
    top: 10px;
    left: 30%;
    width: 40%;
}


.receiver-div p{
    position: absolute;
    top: 220px;
    left: 10%;
}

#agentClasses {
    position: absolute;
    top: 215px;
    left: 30%;
    width: 40%;
}

.content-div p {
    position: absolute;
    top: 150px;
    left: 10%;
}

#content {
    position: absolute;
    top: 145px;
    left: 30%;
    width: 40%;
}

.sender-div p {
    position: absolute;
    top: 80px;
    left: 10%;
}

#sender {
    position: absolute;
    top: 75px;
    left: 30%;
    width: 40%;
}

#sendMessage {
    position: absolute;
    top: 300px;
    left: 10%;
    width: 25%;
}


#details {
    position: absolute;
    top: 400px;
    width: 80%;
    left: 10%;
    height: 300px;
}

#app-running-agents {
    position: relative;
    top: 750px;
    width: 40%;
}